CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# CLion
# Partially rom: https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

.idea/*

# CMake
cmake-build-*/

# File-based project format
*.iws

# IntelliJ
out/
# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based HTTP Client
http-client.private.env.json

# Build folder
/build/*

#CMake
cmake-build-debug/*